.header-wrapper {
  border-bottom: 1px solid var(--border-color);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;

  .nav {
    display: flex;
    gap: 93px;
    align-items: center;
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: var(--header-color);
  text-decoration: none;

  &:focus {
    color: var(--blue-color);
    outline: none;
    transition: color 0.25s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .logo-web {
    color: var(--blue-color);
  }
}

.header .nav .links {
  display: flex;
  list-style: none;
  gap: 46px;
  margin: 0;
  padding: 0;
  align-items: center;
}

.header .nav .links .link {
  text-decoration: none;
  color: var(--header-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.header .nav .links .link.active::after {
  content: "";
  width: 100%;
  display: block;
  background-color: var(--blue-color);
  height: 4px;
  border-radius: 2px;
  position: relative;
  top: 30px;
  transition: background-color 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header .nav .links .link:hover,
.header .nav .links .link:focus {
  color: var(--blue-color);
  outline: none;
  transition: color 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header .contact-links {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 50px;
}

.header .contact-links .link {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.header .contact-links .link:hover,
.header .contact-links .link:focus {
  color: var(--blue-color);
  outline: none;
  transition: color 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header .contact-links .link .svg-icon-envelope,
.header .contact-links .link .svg-icon-smartphone {
  vertical-align: middle;
  margin-right: 10px;
}

.header .contact-links .link .svg-icon-envelope:hover,
.header .contact-links .link .svg-icon-envelope:focus,
.header .contact-links .link .svg-icon-smartphone:hover,
.header .contact-links .link .svg-icon-smartphone:focus {
  fill: var(--blue-color);
  outline: none;
  transition: fill 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
